<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your trusted cryptocurrency investment company for secure trading and mining." />
    <meta name="author" content="Rizki Mulyawan & Jose Angel Rey" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

    <!-- ScrollReveal Js -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="../home/js/scroll-reveal.js" defer></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../home/assets/favicon.svg" type="image/x-icon" />

    <!-- Styles -->
    <link rel="stylesheet" href="../home/css/main.css" />

    <!-- STYLES -->
    <link rel="stylesheet" href="styles.css" />
    <!-- SCRIPTS -->
    <script src="../home/js/script.js" defer></script>

    <title>Decocrypt | Secure Your Investment</title>
</head>

<body>
    <div class="main-container">
        <!-- Main header -->
        <header class="main-header">
            <div class="header-container">
                <!-- Header navbar -->
                <nav class="main-header-navbar">
                    <img src="../home/assets/Logo.svg" alt="CRAPPO logo" class="main-header-navbar__logo" />

                    <ul class="main-header-navbar__nav">
                        <li class="main-header-navbar__nav__item">
                            <a href="#products" class="main-header-navbar__nav__link">Products</a>
                        </li>
                        <li class="main-header-navbar__nav__item">
                            <a href="#features" class="main-header-navbar__nav__link">Features</a>
                        </li>
                        <li class="main-header-navbar__nav__item">
                            <a href="#about" class="main-header-navbar__nav__link">About</a>
                        </li>
                        <li class="main-header-navbar__nav__item">
                            <a href="#contact" class="main-header-navbar__nav__link">Contact</a>
                        </li>
                    </ul>

                    <div class="main-header-navbar__login">
                        <span class="main-header-navbar__login__login-btn btn--open-login-modal" style="cursor: pointer;">Login</span>
                        <span class="main-header-navbar__login__register-btn btn--open-modal" style="cursor: pointer;">Register</span>
                    </div>
                </nav>

                <!-- Header content -->
                <div class="main-header-content-container">
                    <div class="main-header-content-principal">
                        <div class="discount-section">
                            <span class="discount-section__discount">75% SAVE</span>
                            <span class="discount-section__description">For the Black Friday weekend</span>
                        </div>
                        <h1 class="main-header-content-principal__title">
                            Fastest & <span>secure</span> platform to invest in
                            <span>crypto</span>
                        </h1>
                        <p class="main-header-content-principal__description">
                            Buy and sell cryptocurrencies, trusted by 10M wallets with over
                            $30 billion in transactions.
                        </p>
                        <span class="main-header-content-principal__btn btn--open-modal" style="cursor: pointer;">Try for FREE <i
                                class="fas fa-angle-right"></i></span>
                    </div>
                    <img src="../home/assets/header-assets/header-Illustration.svg" alt="" class="
                main-header-content-principal__illustration" />
                </div>
            </div>
        </header>

        <!-- Main content -->

        <main class="main-content">
            <!-- Why us section -->
            <section class="why-us-wrapper">
                <!-- Stats -->
                <div class="stats-section">
                    <div class="stats-section__reference">
                        <i class="fas fa-chart-line"></i>
                        <h3 class="stats-section__reference__title">$30B</h3>
                        <p class="stats-section__reference__description">
                            Digital Currency Exchanged
                        </p>
                    </div>
                    <div class="stats-section__reference">
                        <i class="fas fa-user"></i>
                        <h3 class="stats-section__reference__title">10M+</h3>
                        <p class="stats-section__reference__description">
                            Trusted Wallets Investor
                        </p>
                    </div>
                    <div class="stats-section__reference">
                        <i class="fas fa-globe"></i>
                        <h3 class="stats-section__reference__title">195</h3>
                        <p class="stats-section__reference__description">
                            Countries Supported
                        </p>
                    </div>
                </div>

                <!-- Why us -->
                <div class="why-us-section" id="about">
                    <div class="why-us-section__content">
                        <h2 class="why-us-section__content__title">
                            Why you should choose <span>Decocrypt</span>
                        </h2>
                        <p class="why-us-section__content__description">
                            Experience the next generation cryptocurrency platform. No
                            financial borders, extra fees, and fake reviews.
                        </p>
                        <a href="#" class="why-us-section__content__btn">Learn More</a>
                    </div>
                    <img src="../home/assets/why-us-section-assets/why-us-Illustration.svg" alt="" class="
                why-us-section__illustration          " />
                </div>

                <!-- Benefits -->
                <div class="benefits-section">
                    <h2 class="benefits-section__title">
                        Check how much you can <span>earn</span>
                    </h2>
                    <p class="benefits-section__description">
                        Let’s check your hash rate to see how much you will earn today,
                        and discover your earnings potential.
                    </p>

                    <div class="card-info">
                        <h4 class="card-info__title">ESTIMATED 24 HOUR REVENUE:</h4>
                        <p class="card-info__description">0.055 130 59 ETH <span>($1275)</span></p>
                        <span class="card-info__advice">Revenue will change based on mining difficulty and Ethereumprice.</span>
                    </div>
                </div>
            </section>

            <!-- Cryptocurrencies section -->
            <section class="cryptocurrencies-section" id="products">
                <h2 class="cryptocurrencies-section__title">
                    Trade securely and market the high growth cryptocurrencies.
                </h2>
                <div class="cryptocurrencies-info-cards">
                    <div class="info-card">
                        <i class="fab fa-bitcoin"></i>
                        <h3 class="info-card__title">Bitcoin <span>BTC</span></h3>
                        <p class="info-card__description">
                            Digital currency in which a record of transactions is
                            maintained.
                        </p>
                        <span class="info-card__btn btn--open-login-modal" style="cursor: pointer;">Start mining <i class="fas fa-angle-right"></i></span>
                    </div>
                    <div class="info-card">
                        <i class="fab fa-ethereum"></i>
                        <h3 class="info-card__title">Ethereum <span>ETH</span></h3>
                        <p class="info-card__description">
                            Blockchain technology to create and run decentralized digital
                            applications.
                        </p>
                        <span class="info-card__btn btn--open-login-modal" style="cursor: pointer;">Start mining <i class="fas fa-angle-right"></i></span>
                    </div>
                    <div class="info-card">
                        <img src="../home/assets/others/litecoin-icon.svg" alt="" class="info-card__icon" />
                        <h3 class="info-card__title">Litecoin <span>LTC</span></h3>
                        <p class="info-card__description">
                            Cryptocurrency that enables instant payments to anyone in the
                            world.
                        </p>
                        <span class="info-card__btn btn--open-login-modal" style="cursor: pointer;">Start mining <i class="fas fa-angle-right"></i></span>
                    </div>
                </div>
            </section>

            <!-- Features section -->
            <section class="features-section" id="features">
                <h2 class="features-section__title">
                    Market sentiments, portfolio, and run the infrastructure of your
                    choice
                </h2>

                <article class="invest-smart-article">
                    <div class="invest-smart-article__content">
                        <h3 class="invest-smart-article__content__title">Invest Smart</h3>
                        <p class="invest-smart-article__content__description">
                            Get full statistic information about the behaviour of buyers and
                            sellers will help you to make the decision.
                        </p>
                        <a href="#" class="invest-smart-article__content__btn">Learn More</a>
                    </div>

                    <img src="../home/assets/features-section-assets/features-section-invest.svg" alt="Crypto stats" class="invest-smart-article__graphic" />
                </article>

                <article class="detailed-stats-article">
                    <div class="detailed-stats-article__content">
                        <h3 class="detailed-stats-article__content__title">
                            Detailed Statistics
                        </h3>
                        <p class="detailed-stats-article__content__description">
                            View all mining related information in realtime, at any point at
                            any location and decide which polls you want to mine in.
                        </p>
                        <a href="#" class="detailed-stats-article__content__btn">Learn More</a>
                    </div>

                    <img src="../home/assets/features-section-assets/features-section-statistic.svg" alt="Detailed statistics"  class="detailed-stats-article__graphic" />
                </article>

                <article class="grow-profit-article">
                    <div class="grow-profit-article__content">
                        <h3 class="grow-profit-article__content__title">
                            Grow your profit and track your investments
                        </h3>
                        <p class="grow-profit-article__content__description">
                            Use advanced analytical tools. Clear TradingView charts let you
                            track current and historical profit investments.
                        </p>
                        <a href="#" class="grow-profit-article__content__btn">Learn More</a>
                    </div>

                    <img src="../home/assets/features-section-assets/features-section-table.svg" alt="Profit graphic" class="grow-profit-article__graphic" />
                </article>
            </section>
        </main>

        <!-- Call To Action -->
        <aside class="cta-section" id="contact">
            <div class="cta-section__content">
                <h3 class="cta-section__content__title">Start mining now</h3>
                <p class="cta-section__content__description">
                    Join now with Decocrypt to get the latest news and start mining now
                </p>
            </div>
            <div class="cta-section__subscribe">
                <input type="email" class="cta-section__subscribe__input" placeholder="Enter your email" />
                <!-- <a href="#" class="cta-section__subscribe__btn">Subscribe</a> -->
                 <span class="cta-section__subscribe__btn subscribe-btn">Subscribe</span>
            </div>
        </aside>

        <!-- Main footer -->
        <footer class="main-footer">
            <div class="footer-container">
                <img src="../home/assets/Logo.svg" alt="CRAPPO company logo" class="main-footer__logo" />

                <!-- Footer navs -->
                <nav class="main-footer-navbar">
                    <!-- Quick Link nav -->
                    <ul class="main-footer-navbar__nav">
                        <li class="main-footer-navbar__nav__item">
                            <h3 class="main-footer-navbar__nav__title">Quick Link</h3>
                        </li>
                        <li class="main-footer-navbar__nav__item">
                            <a href="#" class="main-footer-navbar__nav__link">Home</a>
                        </li>
                        <li class="main-footer-navbar__nav__item">
                            <a href="#products" class="main-footer-navbar__nav__link">Products</a>
                        </li>
                        <li class="main-footer-navbar__nav__item">
                            <a href="#about" class="main-footer-navbar__nav__link">About</a>
                        </li>
                        <li class="main-footer-navbar__nav__item">
                            <a href="#features" class="main-footer-navbar__nav__link">Features</a>
                        </li>
                        <li class="main-footer-navbar__nav__item">
                            <a href="#contact" class="main-footer-navbar__nav__link">Contact</a>
                        </li>
                    </ul>
                    <!-- Resources link -->
                    <ul class="main-footer-navbar__nav">
                        <li class="main-footer-navbar__nav__item">
                            <h3 class="main-footer-navbar__nav__title">Resources</h3>
                        </li>
                        <li class="main-footer-navbar__nav__item">
                            <a href="#" class="main-footer-navbar__nav__link">Download whitepaper</a>
                        </li>
                        <li class="main-footer-navbar__nav__item">
                            <a href="#" class="main-footer-navbar__nav__link">Smart token</a>
                        </li>
                        <li class="main-footer-navbar__nav__item">
                            <a href="#" class="main-footer-navbar__nav__link">Blockchain explorer</a>
                        </li>
                        <li class="main-footer-navbar__nav__item">
                            <a href="#" class="main-footer-navbar__nav__link">Crypto API</a>
                        </li>
                        <li class="main-footer-navbar__nav__item">
                            <a href="#" class="main-footer-navbar__nav__link">Interest</a>
                        </li>
                    </ul>
                </nav>

                <!-- Payment systems -->
                <div class="payment-systems">
                    <h3 class="payment-systems__title">
                        We accept following payment systems
                    </h3>
                    <div class="payment-systems-icons">
                        <i class="fab fa-cc-visa"></i>
                        <i class="fab fa-cc-mastercard"></i>
                        <i class="fab fa-bitcoin"></i>
                    </div>
                </div>

                <!-- Copy and social links -->
                <div class="copy-and-social">
                    <h3 class="copy-and-social__copy">
                        ©2025 Decocrypt. All rights reserved
                    </h3>

                    <div class="social-icons">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-youtube"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- MODAL -->
    <div class="modal hidden">
      <div class="modal__header">
        <div class="modal__heading">
          <div style="display: flex; align-items: center">
            <!-- <figure class="profile--avatar" style="margin-bottom: 10px">
              <img
                class=""
                src="./assets/images/cosmos-globe.png"
                alt="logo"
                width="30"
                height="30"
                style="margin-bottom: 10px"
              />
            </figure> -->
            <h2 style="margin-left: 3px" class="modal__title mb-xs">
              Open account
            </h2>
          </div>
          <!-- <p class="modal__subheading">
            Open a new account to start an investment.
          </p> -->
        </div>
        <button class="modal__close-btn btn--close-modal">
          <svg class="modal__close-icon">
            <use xlink:href="./assets/icons/sprite.svg#icon-x"></use>
          </svg>
        </button>
      </div>
      <div class="modal__body">
        <form
          action="/register"
          method="POST"
          class="modal__form register__form"
        >
          <div class="input__group">
            <label for="fullname" class="input__label">Fullname</label>
            <input
              type="text"
              name="fullname"
              id="fullname"
              class="input__form"
              placeholder="Fullname"
              required
            />
          </div>

          <div class="input__group">
            <label for="email" class="input__label">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              class="input__form"
              placeholder="youremail@gmail.com"
              required
            />
          </div>

          <div class="input__group">
            <label for="phone" class="input__label">Phone</label>
            <input
              type="tel"
              name="phone"
              id="phone"
              class="input__form"
              placeholder="+44 9876543215"
              required
            />
          </div>

          <div class="input__group">
            <label for="country" class="input__label">Country</label>
            <input
              type="text"
              name="country"
              id="country"
              class="input__form"
              placeholder="United Kingdom"
              required
            />
          </div>

          <div class="input__group">
            <label for="password" class="input__label">Password</label>
            <div
              class="password__box input__form"
              style="display: flex; justify-content: center"
            >
              <input
                type="password"
                name="password"
                id="password"
                class="input__password input__passwordSignup"
                placeholder="Password"
                style="flex-grow: 1"
                required
              />
              <div
                style="
                  display: flex;
                  justify-content: right;
                  align-items: center;
                "
              >
                <span
                  class="togglePassword togglePasswordSignup"
                  style="
                    color: gray;
                    margin-left: 3px;
                    cursor: pointer;
                    font-weight: 400;
                  "
                  >SHOW</span
                >
              </div>
            </div>
          </div>

          <fieldset class="input__form">
            <legend>Type</legend>
            <div class="trade__type">
              <label class="btn--radio">
                <input
                  type="radio"
                  name="type"
                  value="New Trade"
                  id="typeNew"
                  required
                  style="margin-right: 4px"
                  checked
                />
                New Trade
              </label>
              <label class="btn--radio">
                <input
                  type="radio"
                  name="type"
                  value="Recovery"
                  id="typeRecovery"
                  required
                  style="margin-right: 4px"
                />
                Recovery
              </label>
            </div>
          </fieldset>
        </form>
      </div>
      <p class="next__page">
        <span
          >Already have an account?
          <a
            class="next__page__link btn--close-register btn--open-login-modal"
            href="#"
            >LOGIN</a
          ></span
        >
      </p>
      <div class="modal__footer">
        <button class="btn btn--normal btn--close-modal">Cancel</button>
        <button class="btn btn--primary btn--register btn--sm">
          Register
          <svg class="btn__icon">
            <use
              xlink:href="./assets/icons/sprite.svg#icon-chevron-thin-right"
            ></use>
          </svg>
        </button>
      </div>
    </div>
    <!-- LOGIN MODAL -->
    <div class="login_modal modal hidden">
      <div class="modal__header">
        <div class="modal__heading">
          <div style="display: flex; align-items: center">
            <!-- <figure class="profile--avatar" style="margin-bottom: 10px">
              <img
                class=""
                src="./assets/images/cosmos-globe.png"
                alt="logo"
                width="30"
                height="30"
                style="margin-bottom: 10px"
              />
            </figure> -->
            <h2 style="margin-left: 3px" class="modal__title mb-xs">Login</h2>
          </div>
          <p style="margin-bottom: 1rem" class="modal__subheading">
            Have an account? login and start trading or monitor your existing
            trade.
          </p>
        </div>

        <button class="modal__close-btn btn--close-login-modal">
          <svg class="modal__close-icon">
            <use xlink:href="./assets/icons/sprite.svg#icon-x"></use>
          </svg>
        </button>
      </div>
      <div class="modal__body">
        <form action="/dashboard" method="POST" class="modal__form login__form">
          <div class="input__group">
            <label for="email" class="input__label">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              class="input__form login-email"
              placeholder="email@example.com"
              required
            />
          </div>
          <div class="input__group">
            <label for="lastName" class="input__label">Password</label>
            <div
              class="password__box input__form"
              style="display: flex; justify-content: center"
            >
              <input
                type="password"
                name="password"
                id="password"
                class="input__password login-pass input__passwordLogin"
                placeholder="Password"
                style="flex-grow: 1"
                required
              />
              <div
                style="
                  display: flex;
                  justify-content: right;
                  align-items: center;
                "
              >
                <span
                  class="togglePassword togglePasswordLogin"
                  style="
                    color: gray;
                    margin-left: 3px;
                    cursor: pointer;
                    font-weight: 400;
                  "
                  >SHOW</span
                >
              </div>
            </div>
          </div>
          <div class="">
            <label class="input__label"
              ><span
                class="btn btn--normal btn--close-login btn--open-forgot-password-modal"
                >Forgot password?</span
              ></label
            >
          </div>
        </form>
      </div>
      <p class="next__page">
        <span
          >Don't have an account?
          <a class="next__page__link btn--close-login btn--open-modal" href="#"
            >REGISTER NOW</a
          ></span
        >
      </p>
      <div class="modal__footer">
        <button class="btn btn--normal btn--close-login-modal">Cancel</button>
        <button class="btn btn--primary btn--login btn--sm">
          Login
          <svg class="btn__icon">
            <use
              xlink:href="./assets/icons/sprite.svg#icon-chevron-thin-right"
            ></use>
          </svg>
        </button>
      </div>
    </div>
    <!-- FORGOT PASSWORD MODAL -->
    <div class="forgot_password_modal modal hidden">
      <div class="modal__header">
        <div class="modal__heading">
          <div style="display: flex; align-items: center">
            <!-- <figure class="profile--avatar" style="margin-bottom: 10px">
              <img
                class=""
                src="./assets/Logo-D.png"
                alt="logo"
                width="30"
                height="30"
                style="margin-bottom: 10px"
              />
            </figure> -->
            <h2 style="margin-left: 3px" class="modal__title mb-xs">
              Forgot Password
            </h2>
          </div>
          <p class="modal__subheading">
            Having trouble logging into your account? Enter your email address,
            we’ll send you an email containing a recovery link.
          </p>
        </div>

        <button class="modal__close-btn btn--close-forgot-password-modal">
          <svg class="modal__close-icon">
            <use xlink:href="./assets/icons/sprite.svg#icon-x"></use>
          </svg>
        </button>
      </div>
      <div class="modal__body">
        <form class="modal__form">
          <div class="input__group">
            <label for="email" class="input__label">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              class="input__form"
              placeholder="youremail@gmail.com"
              required
            />
          </div>
        </form>
      </div>

      <div class="modal__footer">
        <button class="btn btn--normal btn--close-forgot-password-modal">
          Cancel
        </button>
        <button class="btn btn--primary btn--sm">
          Send Email
          <svg class="btn__icon">
            <use
              xlink:href="./assets/icons/sprite.svg#icon-chevron-thin-right"
            ></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="overlay hidden"></div>
</body>

</html>