body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.hero {
  background: linear-gradient(to left, #4c319d, #0a072a) !important;
  color: #fff;
  text-align: center;
  padding: 1rem;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
}

.coin {
  color: #252e42;
}
.coin-addr {
  font-family: "Poppins", sans-serif;
  font-family: "Russo One", sans-serif;
  font-family: "Titillium Web", sans-serif;
  word-wrap: break-word;
}
.content {
  display: flex;
  align-items: start;
  padding: 20px;
  max-width: 60rem;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}
.deposit-form {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

select,
input,
button {
  margin-bottom: 16px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
}

button {
  background-color: #4c319d;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 13px;
  border-radius: 5px;
}

.address-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.card {
  border: 1px solid #b238b1;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  width: 100%; /* Take full width of the parent */
  max-width: 400px;
  box-sizing: border-box; /* Include padding and border in the width calculation */
}
